<p class="text"></p>
<button igxButton="outlined" igxRipple routerLink="/welcome" class="button">
  Log In
</button>
<button igxButton="outlined" igxRipple routerLink="/reg" class="button_1">
  Register
</button>
<img src="/assets/MicrosoftTeams-image (5).png" class="image" />
<h2 class="h2">
  Log in or Register for a new account
</h2>
<igx-input-group type="border" class="input">
  <input type="email" igxInput />
  <label igxLabel>Email address:</label>
</igx-input-group>
<igx-input-group type="border" class="input_1">
  <input type="password" igxInput />
  <label igxLabel>Password:</label>
</igx-input-group>
