<h3 class="h3">
  Customized Tips and improvements for your child
</h3>
<igx-category-chart [dataSource]="financialBoxOfficeRevenue" chartTitle="Overall Posture of Child" xAxisTitle="Time" yAxisTitle="Good or Bad" includedProperties="Franchise,TotalWorldBoxOfficeRevenue" [yAxisMinimumValue]="0" [yAxisMaximumValue]="1" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
<img src="/assets/stratgy.png" class="image" />
<a href="https://www.youtube.com/watch?v=48SfEkcIElw" target="_blank" class="ig-typography__body-1 hyperlink">
  Easy and Simple Exercises for the Best Posture for Children
</a>
<img src="/assets/pic.png" class="image_1" />
<img src="/assets/dist.png" class="image_2" />
<button igxButton="contained" igxRipple routerLink="/analysis" class="button">
  Go Back
</button>
