<img src="/assets/pos.png" class="image" />
<igx-input-group type="border" class="input">
  <input type="email" igxInput />
  <label igxLabel>Email address:</label>
</igx-input-group>
<igx-input-group type="border" class="input_1">
  <input type="password" igxInput />
  <label igxLabel>Password:</label>
</igx-input-group>
<igx-input-group type="border" class="input_2">
  <input type="text" igxInput />
  <label igxLabel>First and Last Name:</label>
</igx-input-group>
<button igxButton="outlined" igxRipple routerLink="/welcome" class="button">
  Create Account
</button>
<p class="text">
  Thank you for choosing PosturePal Kids
</p>
